@use "../abstracts" as *;

.arrow {
    position: absolute;
    top: 50%;
    left: calc(100% - 5vw);
    width: 4rem;
    height: 10rem;
    background-color: transparent;
    transform: translate(-50%, -50%);

    @include respond(tab-land){
        left: calc(100% - calc(7.5vw/2));
    }

    @include respond(phone-land){
        display: none;
    }

    @include respond(big-desk){
        left: calc(100% - calc(15vw/2));
    }

    &__item {
        display: block;
        margin: 0 auto -1.2rem;
        width: 2.5rem;
        height: 2.5rem;
        border-bottom: 0.3rem solid $color-secondary-light-1;
        border-right: 0.3rem solid $color-secondary-light-1;
        transform: rotate(45deg);
        animation: movedown 2s infinite;

        &:nth-child(2) {
            animation-delay: -0.2s;
        }
        &:nth-child(3) {
        animation-delay: -0.4s;
        }
       
    }
    
}
