@use "../abstracts" as *;

.features {
    @include frame($color-primary, $color-secondary, 0.05, 0.15, -10);

    @include respond(phone) {
        @include frame($color-primary, $color-secondary, 0, 0.15, -10);
       }
}

.feature {
    background-color: rgba($color-white, 0.85);
    border-radius: 0.5rem;
    height: 90vh;
    max-height: 60rem;
    max-width: 29rem;
    width: 100%;

    overflow: hidden;
    @include transition-long;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:last-of-type {
        grid-column-end: -1;
    }

    @include respond(big-desk){
        max-width: 40rem;
    }


    &:hover {
        transform: translateY(-0.75rem);
        border-bottom: 0.2rem solid $color-secondary;
    }

    &:hover &__icon {
        outline: 0.2rem solid $color-secondary;
        outline-offset: 0.2rem;
    }

    &__description {
        text-align: center;
        display: grid;
        align-items: center;
        justify-items: center;
        gap: 1.2rem;
        padding: 2.4rem;
        width: 100%;

        height: 55%;
    }
    &__icon {
        font-size: 2rem;
        color: $color-primary-dark-2;
        background-color: $color-secondary-light-1;
        padding: 1.6rem;
        border-radius: 25%;
    }
    &__text {
        font-size: $paragraph-font-size;
        line-height: 1.6;
        font-weight: 500;
    }

    &__picture {
        height: 50%;
        width: 100%;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
